ul {
    float: left;
    width: 15em;
    border: solid 1px black;
}
		
li {
    margin-bottom: 10px;
    color: red;
    cursor: pointer;
}
		
li:hover {
    background-color: black;
}
		 
li button {
    font-size: 8px;
    margin-left: 20px;
    color: #666;
}

#editor {
    float: left;
    width: 25em;
    margin-left: 3em;
}
		
#editor.new #deletebtn {
    visibility: hidden;
}

#editor.edit #deletebtn {
    visibility: visible;
}

#alertbox {
    color: red;
    border: solid 2px red;
    padding: 1em 3m 1em 4em;
    visibility: hidden;
}
		
#todolist li[data-status="finished"] {
    background-color: green;
    color: black;
}
		
		
#todolist.all li[data-status="unfinished"] {
    display: block;
}
		
		
#todolist.finished li[data-status="unfinished"] {
    display: none;
}

#listcontainer {
    float: left;
}
#listcontainer.emptylist {
    background: url(../images/icon.jpg) no-repeat;
    background-position: 2rem;
}

#todolist {
    position: relative;
    height: 200px;
    visibility: visible;
}

#editor > h2 {
    border-bottom: solid 1px gray;
}

#editor.new h2.labelnew {
    display: block;
}

#editor.new h2.labeledit {
    display: none;
}

#editor.edit h2.labelnew {
    display: none;
}

#editor.edit h2.labeledit {
    display: block;
}